<?xml version="1.0" encoding="utf-8"?>
<!--

  This AndroidManifest is an example of AppMetrica and AppMetrica Push SDKs integration.

-->
<manifest android:versionCode="1" android:versionName="1.0" package="com.yandex.mobile.metrica.push.sample.unity" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26"/>

  <!-- AppMetrica Permissions -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <!-- Application -->
  <application android:icon="@drawable/app_icon" android:label="@string/app_name">

    <!-- Unity Main Activity -->
    <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:name="com.unity3d.player.UnityPlayerActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- AppMetrica Services and Receivers -->
    <service android:enabled="true" android:exported="true" android:name="com.yandex.metrica.MetricaService" android:process=":Metrica">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
        <action android:name="com.yandex.metrica.IMetricaService"/>
        <data android:scheme="metrica"/>
      </intent-filter>
      <meta-data android:name="metrica:api:level" android:value="63"/>
    </service>
    <service android:enabled="true" android:exported="true" android:name="com.yandex.metrica.ConfigurationService" android:process=":Metrica" tools:ignore="ExportedService">
      <intent-filter>
        <action android:name="com.yandex.metrica.configuration.ACTION_START"/>
      </intent-filter>
      <meta-data android:name="metrica:configuration:api:level" android:value="1"/>
    </service>
    <receiver android:enabled="true" android:exported="true" android:name="com.yandex.metrica.MetricaEventHandler">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER"/>
      </intent-filter>
    </receiver>

    <!-- Your GCM Project Number -->
    <meta-data android:name="ymp_gcm_project_number" android:value="number:gcm_number"/>

  </application>

</manifest>
